<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>SkyCast Weather App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Skycast Weather App</h1>
  <div>
    <form method="get">
      <fieldset>
        <ul>
          <li>
            <label for="city">City Name</lable>
            <input type="text" id="city" placeholder="City">
          </li>
        </ul>
      </fieldset>
      <button id="getWeather">Get Weather</button>
    </form>
    <ul id="forecast">

    </ul>
  </div>

  <p>Miguel Roman-Roman</p>
  <a href="https://darksky.net">Powered by Dark Sky</a>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js'></script>
  <script src="scripts/jquery-3.2.1.min.js"></script>
  <script src="scripts/view.index.js"></script>
</body>

</html>
