html, body {
  height: 100%;
}

body {
	width: 100%;
  max-width: 42em;
  padding: 2em;
  margin: 0 auto;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #0cf;
}

label {
  color: #000;
}

h1 {
  margin-bottom: 1.375em;
  color: #000;
  font-weight: 100;
  font-size: 2em;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

#forecast {
  white-space: nowrap;
  overflow-x: auto;
  width: 350px;
  margin: 0;
  display: flex;
  flex-flow: row;
}

#forecast li {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}

.container {
  position: relative;
  padding-top: 20px;
  margin-left: 75px;
}

p,
a {
  color: #000;
  font-size: small;
}
p { margin: 1.375rem 0; }
